.calculator-wrapper{
  display: flex;
  flex-direction: column;
}
.calculator {
  background-color: #ccc;
  width: 40rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  border-radius: 1.6rem;
  overflow: hidden;
  padding: 2.0rem;

  &__output {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1.2rem;
    font-size: 6.0rem;
    background: darkcyan;
    border-radius: 1.2rem;
    box-shadow: inset 0px 0px .6rem .2rem #000;
    overflow: hidden;
  }

  &__switch{
   align-self: flex-end;
    margin-top: 2.0rem;
  }
}

.key {
  background-color: var(--bg-2);
  border: none;
  padding: 1.2rem;
  border-radius: 1.2rem;
  color: var(--text);
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  box-shadow: .2rem .2rem .4rem .2rem #000;

  &:active{
    outline: none;
    box-shadow: none;
  }

  &:focus{
    outline: none;
  }
}


